services:
  bookstack:
    image: linuxserver/bookstack:25.12.7
    container_name: bookstack
    restart: unless-stopped
    env_file:
      - /etc/homelab/secrets/bookstack.env
    environment:
      # Allow access from both internal (.geek) and public (.johnnyblabs.com) domains
      # APP_URL set to internal domain; nginx handles routing from public domain
      APP_URL: http://bookstack.geek
      DB_HOST: bookstack-db
      DB_DATABASE: bookstackapp
      DB_USERNAME: bigbear
      TRUSTED_PROXIES: '*'
    volumes:
      - /srv/homelab/bookstack/config:/config
    networks:
      - geek-infra
    depends_on:
      - bookstack-db

  bookstack-db:
    image: linuxserver/mariadb:10.11.6
    container_name: bookstack-db
    restart: unless-stopped
    env_file:
      - /etc/homelab/secrets/bookstack.env
    environment:
      MYSQL_DATABASE: bookstackapp
      MYSQL_USER: bigbear
    volumes:
      - /srv/homelab/bookstack/mysql:/config
    networks:
      - geek-infra

networks:
  geek-infra:
    external: true
