services:
  server:
    image: ghcr.io/goauthentik/server:2025.8
    container_name: authentik-server
    command: server
    restart: unless-stopped
    environment:
      AUTHENTIK_POSTGRESQL__HOST: geek-postgres
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
    volumes:
      - ./media:/media
      - ./custom-templates:/templates
    networks:
      - geek-infra
    ports:
      - "9000:9000"   # UI/API (we'll proxy with nginx soon)
      - "9443:9443"   # optional

  worker:
    image: ghcr.io/goauthentik/server:2025.8
    container_name: authentik-worker
    restart: unless-stopped
    environment:
      AUTHENTIK_POSTGRESQL__HOST: geek-postgres
      AUTHENTIK_POSTGRESQL__USER: authentik
      AUTHENTIK_POSTGRESQL__NAME: authentik
    volumes:
      - ./media:/media
      - ./custom-templates:/templates
    command: worker
    networks:
      - geek-infra

  outpost-proxy:
    image: ghcr.io/goauthentik/proxy:2025.8
    container_name: authentik-outpost
    restart: unless-stopped
    environment:
      AUTHENTIK_HOST: http://authentik-server:9000
      AUTHENTIK_HOST_BROWSER: https://auth.geek
      AUTHENTIK_TOKEN: ${AUTHENTIK_OUTPOST_TOKEN}
    networks:
      - geek-infra


    # Do NOT publish ports to the LAN; nginx will talk to it over the docker network.
    # ports:
    #  - "9001:9000"

networks:
  geek-infra:
    external: true
